*{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}
.cont1{
    width: 900px;
}

h1{
    color:rgb(0, 140, 255) ;
}
.cont1 span{
    border-right: 1px solid ;
    padding: 3px;
}

.cont2{
    width: 900px;
}

.cont3{
    width: 1150px;
    margin-left: 220px;
}
.d1{
    width: 20%;
    display: inline;   
    float: left;
}
.d2{
    width: 50%;
    margin-top: 0%;   
}

.cont4{
    width: 1150px;
    margin-left: 180px;

}
.d3{
    width: 22%;
    display: inline;   
    float: left;
}
.d4{
    width: 50%;
    margin-top: 0%;   
}

.cont5{
    width: 1250px;
    margin-left: 180px;
}

.s1{  
    width: 20%;    
    float: left;
    border: 0.1px solid white;

}
.s2{
    display: inline;
    float: left;
    width: 28%;
}


.cont6{
    width: 1250px;
    margin-left: 180px;
    
}

.cont6 span{
    padding-left: 40px;
    margin: 3px;  
}

.cont6 span:nth-child(1){
    border: 1px solid rgb(53, 51, 172); 
    background-color: rgb(0, 119, 255);   
}
.cont6 span:nth-child(2){
    border: 1px solid rgb(53, 51, 172); 
    background-color: rgb(0, 119, 255);   
}.cont6 span:nth-child(3){
    border: 1px solid rgb(53, 51, 172); 
    background-color: rgb(0, 119, 255);   
}
.cont6 span:nth-child(4){
    border: 1px solid rgb(53, 51, 172); 
    background-color: rgb(0, 119, 255);   
}
.cont6 span:nth-child(5){
    border: 1px solid rgb(185, 185, 216); 
    background-color: rgb(220, 227, 235);   
}

.cont6 span:nth-child(6){
    border: 1px solid rgb(185, 185, 216); 
    background-color: rgb(220, 227, 235);   
}

.cont6 .s3 span:nth-child(3){
    border: 1px solid rgb(185, 185, 216); 
    background-color: rgb(220, 227, 235);   
}
.cont6 .s3 span:nth-child(4){
    border: 1px solid rgb(185, 185, 216); 
    background-color: rgb(220, 227, 235);   
}
.cont6 .s2 b{
    display: block; 
    word-spacing: 155px;
}
.cont6 .s3 b{
    display: block; 
    word-spacing: 160px;
}
.cont6 p{
    display: block;   
}
